html {
  font-size: 62.5%;
}

body {
  position: relative;
  background: #fff;
  color: #333;
  font-family: "Noto Serif JP", "HiraKakuProN-W3", "Meiryo", sans-serif;
  margin: 0;
  -webkit-text-size-adjust: 100%;

  &.fixed {
    position: fixed;
  }
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: top;
}

.fb {
  font-family: "Lato", sans-serif;
}

// .ant-select-selector,
// .ant-input-number-lg {
//   border-radius: 0 !important;

//   span {
//     font-size: 13px;
//     text-align: center;
//     color: #666;
//   }

// }
@keyframes stroke-dashoffset {
  100% {
    stroke-dashoffset: 0;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 12px;
  color: var(--clr-black);
  background: var(--clr-back);
  width: var(--sys-width);
  margin: 0 auto;
}


@media screen and (max-width: 768px) {
  #root {
    width: 100vw;
  }
}